.container{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}
.minheight{
    min-height: 100vh;
    flex-direction:column;
    display:flex;
    
    
}
.start{
    justify-content: flex-start;
}
.column{
    flex-direction: column;
    justify-content: flex-start;
}